/* Remove padding and border from the modal-content and modal-body */
.modal-content,
.modal-body {
  padding: 0;
  border: none;
}

/* Ensure the video fills the container */
#camera {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Style for the control panel */
#controlPanel {
  padding: 1rem;
  /* Add some padding around the controls */
  padding-right: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  /* Stack controls vertically */
  justify-content: center;
  /* Center controls vertically */
}

/* Style for form elements */
.form-group {
  margin-bottom: 1rem;
  /* Add some space between controls */
}

/* Close button style */
.btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
}

/* Gallery navigation dots */
.gallery-dots-container {
  text-align: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  z-index: 3;
}

.gallery-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background-color: #bbbbbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gallery-dot.active {
  background-color: #4540d3;
}

.captured-image {
  width: 100%;
  object-fit: cover;
  /* Scale the image to fill the element */
  object-position: top;
  /* Align the image to the top */
}

.captured-image:hover {
  object-position: bottom;
  /* Align the image to the bottom */
}

.cameraPreviewOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraPreviewOverlay .bi-crosshair {
  font-size: 50px; /* Adjust the size as needed */
  color: rgba(253, 213, 165, 0.5); /* Adjust the color and opacity as needed */
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
}

.loading-overlay .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress-text {
  font-size: 16px;
  font-weight: bold;
}
