.body-full-page-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    /* Adjusted width for two columns */
}

.header,
.footer {
    text-align: center;
    width: 100%;
}

h1 {
    color: #333;
}

.link {
    color: #3498db;
    text-decoration: none;
}